* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header {
    padding: 16px 0;
    background-color: #1E90FF;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header li {
    display: inline;
    padding: 0 8px;
}

header li a {
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

h1 {
    font-size: 1.5em;
    font-style: italic;
    color:#fff;
}

h2 {
    margin-bottom: 30px;
    color:#1E90FF;
    font-style: italic;
    padding-bottom: 16px;
    border-bottom: 2px solid #1E90FF;
}

.sobre-a-loja {
    display: flex;
    margin-top: 32px;
}

.sobre-a-loja img {
    max-width: 30%;
}

.texto {
    margin-left: 32px;
}

.texto p {
    justify-content: center;
}

.produtos {
    margin-top: 32px;
    align-items: center;
}

.produtos img {
    width: 1080px;
    max-width: 70%;
    margin-bottom: 32px;
}

h3 {
    max-width: 70%;
}

.itens {
    display: flex;
}

.itens p {
    font-size: 12px;
    max-width: 70%;
    margin: 8px 0;
}

.itens button {
    background-color: #1E90FF;
    color: #fff;
    height: 32px;
    width: 70%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
}

.itens {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .itens {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (max-width: 767px) {
    header {
        padding: 24px 0;
    }

    header .container {
        display: flex;
        justify-content: center;
    }
    
    header li {
        display: flex;
        margin-left: 48px;
    }


    .sobre-a-loja {
        display: block;
    }

    .sobre-a-loja img {
        max-width: 90%;
        margin-bottom: 24px;
    }

    .texto {
        margin-left: auto;
    }
    
    .itens {
        display: block;
    }
}

